<!-- app/views/movies/_upcoming.html.erb -->

<h1>Upcoming Movies</h1>

<div class="movie-list">
  <% @upcoming_movies.each do |movie| %>
    <div class="movie">
      <h2><%= movie.title %></h2>
      <p>Rating: <%= movie.rating %></p>
      <!-- Add more details as needed -->
    </div>
  <% end %>
</div>
