<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Now Showing", now_showing_movies_path, class: "btn btn-light" %>
      <%= link_to "Coming Soon", upcoming_movies_path, class: "btn btn-light" %>
      
      </div>
    </div>
    <div class="col-7">
      <div class="MovieSearchBox_searchBox__W4oa5">
        <i class="searchIconDesktop"></i>
        <input type="text" class="form-control" placeholder="Search Movie or a Cinema" value="">
      </div>
    </div>
    <div class="col-2">
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bangaluru
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!-- Dropdown items go here -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="margin-top: 30px; border-radius: 10px;">
            Sidebar content here
        </div>
        <div class="col-sm-9" style="margin-top: 30px; border-radius: 100px;">
            <div style="width: 903px; height: 985px; background-color: #f0f0f0;">
            </div>
        </div>
    </div>
</div>